
*.sdf
*.xcuserstate
*.xcuserstate
*.xcscheme
XCode/CubeSQL.xcodeproj/project.xcworkspace/xcuserdata/marco.xcuserdatad/UserInterfaceState.xcuserstate
XCode/CubeSQL.xcodeproj/xcuserdata/marco.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
*.xcuserstate
XCode/CubeSQL.xcodeproj/project.xcworkspace/xcuserdata/marco.xcuserdatad/UserInterfaceState.xcuserstate
VisualC/CubeSQLPlugin/Release/*
VisualC/CubeSQLPlugin/x64/*
*.xcuserstate
*.xcuserstate
VisualC/CubeSQLPlugin/CubeSQLPlugin.v12.suo
*.xcuserstate
XCode/CubeSQL.xcodeproj/xcuserdata/marco.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
VisualC/CubeSQLPlugin/CubeSQLPlugin.v12.suo
*.xcuserstate
*.xcworkspacedata
XCode/CubeSQL_64bit.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcbkptlist
*.plist
XCode/CubeSQL.xcodeproj/project.xcworkspace/xcuserdata/marco.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
