/**************************
*
*         Common
*
**************************/

body {
   font: normal 12px Verdana, Arial, Helvetica, sans-serif;
   margin: 0;
}

a {
   text-decoration: none;
   color: blue;
}

a:hover {
   text-decoration: underline;
   color: #FF6600;
}

p {
   margin-left: 16px;
   margin-right: 16px;
}

code {
   font: 80% Monaco, Courier, "Courier New", mono;
}

.parameters
{
   background-color: #F2F2F2;
   /*white-space: pre;/* /* In CSS 2 & Lower */
   /*white-space: pre-wrap;*/ /* In CSS 2.1 and Later */
   font: 100% Geneva, Monaco, Courier, "Courier New", mono;

   padding-bottom: 0.5em;
   padding-top: 0.5em;
   padding-left: 0.5em;
   padding-right: 0.5em;

   border-color: #AAAAAA;
   border-style: dashed;
   border-width: 1px;
}

.example {
   background-color: #F2F2F2;
   /*white-space: pre;/* /* In CSS 2 & Lower */
   /*white-space: pre-wrap;*/ /* In CSS 2.1 and Later */
   font: 100% Geneva, Monaco, Courier, "Courier New", mono;

   padding-bottom: 0.5em;
   padding-top: 0.5em;
   padding-left: 0.5em;
   padding-right: 0.5em;

   margin-left: 16px;
   margin-right: 16px;

   border-color: #AAAAAA;
   border-style: dashed;
   border-width: 1px;
}


td p
{
   text-indent: 0px;
   margin: 0px 0px 1px 4px;
}




/**************************
*
*         Sections
*
**************************/
/*<group=Sections>*/

#content {
   margin: 16px;
}


#topicHeader {
   margin: 0;

   display: block;
   line-height: 40px;
   width: 100%;

   height:40px;
   background: url(GreenGradient40px.png) repeat-x 0px 0px;
   text-shadow: 2px 2px 1px #000000;
   font-size: 125%;
   color: #FFFFFF;
   font-weight: bold;
}

#topicHeader p {
   margin: 0;
   padding: 0;

   padding-left: 16px;
   padding-right: 16px;
}

#topicHeader a {
   color: #FFFFFF;
   text-decoration: underline;
}


#topicHeader a:hover {
   color: #000000;
   background-color: #FFFFFF;
   text-decoration: none;
   text-shadow: 0 0 0;
}


#internalHeader {
   position: absolute;
   width: 100%;
   height: 40px;
   margin: 0;
   padding: 0;
   text-align: right;
   font-size: 80%;
}


#briefDesc {
   font-size: normal;
   padding: 8px;
   margin: 0;
   border: 1px dashed #CCCCCC;
   background: #dfffdb;
}


#notes {
   margin-top: 2em;
   width: 100%;
   border: 1px solid #DDDDDD;
   background: #F0F0F0;
   border-collapse: collapse;

   width: 100%;
}

h1 {

   margin: 0;
   text-indent: 16px;
   border-top: 1px solid #0e9f34;
   border-bottom: 1px solid #0b7f2a;

   display: block;
   line-height: 30px;
   width: 100%;

   height: 30px;
   background: url(GreenGradient40px.png) repeat-x 0px 0px;
   text-shadow: 2px 2px 1px #000000;
   font-size: 125%;
   color: #FFFFFF;
   font-weight: bold;
}


h2
{
   margin: 0;
   text-indent: 16px;
   border-top: 1px solid #0e9f34;
   border-bottom: 1px solid #0b7f2a;

   display: block;
   line-height: 24px;
   width: 100%;

   height: 24px;
   background: url(GreenGradient24px.png) repeat-x 0px 0px;
   text-shadow: 2px 2px 1px #000000;
   font-size: 115%;
   color: #FFFFFF;
   font-weight: bold;
}

h3
{
   border: 1px solid #DDDDDD;
   height: 20px;
   margin: 0;
   padding-top: 1px;
   background: url(GrayGradient20px.png) repeat-x 0px 0px;

   text-shadow: 2px 2px 3px #DDDDDD;
   font-size: 100%;
   font-weight: bold;
   line-height: 100%;
   color: #FFFFFF;
}


#notes p {

}

/**** For Classes ****/
#classEntityGroup {}

#classSuperclasses {}
#classInterfaces {}

/**** For Properties ****/
#propertySyntax {}
#propertyFlags {}

/**** For Methods ****/
#methodSyntax {}
#methodFlags {}

/**** For All ****/
#syntaxHeader {}

/*</group>*/



/**************************
*
*      Syntax Tables
*
**************************/
/*<group=Syntax Tables>*/

.syntaxTable {
   margin-top: 2em;
   width: 100%;
   border: 1px solid #DDDDDD;
   background: #F0F0F0;
   border-collapse: collapse;
   margin-left: 5%;
}

table.syntaxTable th {
   background: url(GrayGradient20px.png) repeat-x 0px 0px;
   text-shadow: 2px 2px 1px #000000;
   font-size: 100%;
   color: #FFFFFF;
   font-weight: bold;
   height: 20px;
   vertical-align: middle;
   text-align: left;
   margin: 0;
   padding: 0 0 4px 0;
}


table.syntaxTable th p {
   margin: 0;
   padding: 0 0 0 8px;
}

table.syntaxTable td {
   border: 1px solid #DDDDDD;
   border-top: none;
   padding: 2px;
}

.syntax {
   font: 100% Geneva, Monaco, Courier, "Courier New", mono;
}


/*</group>*/




/**************************
*
*      Parameter Tables
*
**************************/
/*<group=Parameter Tables>*/

table.paramsTable, table.paramsTableNoDesc, table.paramsTableReturnValue {
   margin-top: 2em;
   width: 100%;
   border: 1px solid #DDDDDD;
   background: #F0F0F0;
   border-collapse: collapse;

   width: 100%;
   margin-left: 5%;
}

table.paramsTableNoDesc {
   width: 60%;
}

table.paramsTable th, table.paramsTableNoDesc th, table.paramsTableReturnValue th {
   background: url(GrayGradient20px.png) repeat-x 0px 0px;
   text-shadow: 2px 2px 1px #000000;
   font-size: 100%;
   color: #FFFFFF;
   font-weight: bold;
   height: 20px;
   vertical-align: middle;
   text-align: left;
   margin: 0;
   padding: 0 0 4px 0;
}


table.paramsTable th p, table.paramsTableNoDesc th p, table.paramsTableReturnValue th p {
   margin: 0;
   padding: 0 0 0 8px;
}

table.paramsTable td, table.paramsTableNoDesc td, table.paramsTableReturnValue td {
   border: 1px solid #DDDDDD;
   border-top: none;
}

/*</group>*/




/**************************
*
*      Member Tables
*
**************************/
/*<group=Member Tables>*/

table.memberTable {
   margin-top: 2em;
   width: 100%;
   border: 1px solid #DDDDDD;
   background: #F0F0F0;
   border-collapse: collapse;

}

table.memberTableNW {
   margin-top: 2em;
   border: 1px solid #DDDDDD;
   background: #F0F0F0;
   border-collapse: collapse;
}

table.memberTable th {
   background: url(GrayGradient20px.png) repeat-x 0px 0px;
   text-shadow: 2px 2px 1px #000000;
   font-size: 100%;
   color: #FFFFFF;
   font-weight: bold;
   height: 20px;
   vertical-align: middle;
   text-align: left;
   margin: 0;
   padding: 0 0 4px 0;
}

table.memberTableNW th {
   background: url(GrayGradient20px.png) repeat-x 0px 0px;
   text-shadow: 2px 2px 1px #000000;
   font-size: 100%;
   color: #FFFFFF;
   font-weight: bold;
   height: 20px;
   vertical-align: middle;
   text-align: left;
   margin: 0;
   padding: 0 0 4px 0;
}

table.memberTable th p {
   margin: 0;
   padding: 0 0 0 8px;
   font-size: 80%;
}

table.memberTableNW th p {
   margin: 0;
   padding: 0 0 0 8px;
   font-size: 80%;
}

table.memberTable td {
   padding: 2px 4px 2px 2px;
   font-size: 80%;
}

table.memberTableNW td {
   padding: 2px 4px 2px 2px;
   font-size: 80%;
}

/*</group>*/



/**************************
*
*       Body Tables
*
**************************/
/*<group=Body Tables>*/

.bodyTable {
   margin-left: 5%;
   margin-top: 2em;
   width: 90%;
   border: 1px solid #DDDDDD;
   background: #F0F0F0; /* #f1ffef */
   border-collapse: collapse;
}

table.bodyTable th {
   background: url(GrayGradient20px.png) repeat-x 0px 0px;
   text-shadow: 2px 2px 1px #000000;
   font-size: 100%;
   color: #FFFFFF;
   font-weight: bold;
   height: 20px;
   vertical-align: middle;
   text-align: left;
   margin: 0;
   padding: 0 0 4px 0;
}

table.bodyTable th p {
   margin: 0;
   padding: 0 0 0 8px;
}

table.bodyTable td {
   border: 1px solid #DDDDDD;
   border-top: none;
}





/*</group>*/





/**************************
*
*    Categories Table
*
**************************/
/*<group=Categories Tables>*/

.categoriesTable {
   margin-top: 2em;
   width: 90%;
   border: 1px solid #DDDDDD;
   background: #f1ffef;
   border-collapse: collapse;
   text-align: left;
}

table.categoriesTable th {
   background: url(GreenGradient27px.png) repeat-x 0px 0px;
   text-shadow: 2px 2px 1px #000000;
   font-size: 100%;
   color: #FFFFFF;
   font-weight: bold;
   height: 27px;
   vertical-align: middle;
   text-align: center;
   margin: 0;
   padding: 0 0 4px 0;
}

table.categoriesTable td {
   padding: 0px;
   padding-left: 6px;
   border-left: 1px solid #DDDDDD;
   border-right: 1px solid #DDDDDD;
   border-bottom: 1px solid #DDDDDD;
}

table.categoriesTable p {
   padding-top: 2px;
   padding-bottom: 2px;
}

table.categoriesTable p.selected {
   font-weight: bold;
   color: #FF6600;
   background: #FFFFFF;
   border-top: 1px solid #DDDDDD;
   border-bottom: 1px solid #DDDDDD;
   margin-left: -6px;
   padding: 8px 1px 8px 8px;
}

table.categoriesTable p.selected a {
   font-weight: bold;
   color: #FF6600;
}


.noSelection {
   color: #bebebe;
   font-size: 140%;
   font-weight: bold;
}

/*</group>*/




/**************************
*
*      Search Results
*
**************************/
/*<group=Search Results Tables>*/

.searchResultsTable {
   margin-top: 2em;
   width: 100%;
   border: 1px solid #DDDDDD;
   background: #f1ffef;
   border-collapse: collapse;
}

table.searchResultsTable th {
   background: url(GreenGradient20px.png) repeat-x 0px 0px;
   text-shadow: 2px 2px 1px #000000;
   font-size: 100%;
   color: #FFFFFF;
   font-weight: bold;
   height: 20px;
   vertical-align: middle;
   text-align: left;
   margin: 0;
   padding: 0 0 4px 0;
}

table.searchResultsTable th p {
   margin: 0;
   padding: 0 0 0 8px;
}

table.searchResultsTable tr.alternate {
   background: #FFFFFF;
}

table.searchResultsTable td {
   padding: 2px;
   border-left: 1px solid #DDDDDD;
   border-right: 1px solid #DDDDDD;
}

span.searchText {
   color: #FF6600
}


/*</group>*/
